<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
    />
    <link rel="stylesheet" href="../../assets/css/general.css" />
    <link rel="stylesheet" href="../../assets/css/staffFrame.css" />
    <script src="../../assets/js/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  </head>
  <body class="bg-gray-50 poppins-regular">
    <div class="container mx-auto p-5">
      <h1
        class="text-xl sm:text-2xl font-semibold mb-8 text-center sm:text-left"
      >
        Staff Management
      </h1>

      <!-- Button Section -->
      <div
        class="flex flex-wrap justify-end sm:justify-end space-x-0 sm:space-x-4 mb-5"
      >
        <button
          class="bg-green-600 text-white px-8 py-2 rounded-lg font-semibold hover:bg-green-700 transition text-sm sm:text-base flex items-center space-x-2 group sm:w-auto"
        >
          <i
            class="fa-solid fa-plus transition-transform transform group-hover:rotate-90"
          ></i>
          <span class="pl-2">Add</span>
        </button>
      </div>

      <!-- Table Header -->
      <div class="overflow-x-auto">
        <div
          class="grid grid-cols-2 sm:grid-cols-6 gap-2 bg-[#16A34A] text-center font-semibold text-xs sm:text-sm text-white p-2 rounded-t-xl"
        >
          <div
            class="p-2 truncate flex items-center justify-center group cursor-pointer"
          >
            <span>Name</span>
            <i
              id="sort-arrow"
              class="fa fa-sort-down text-gray-300 ml-2 group-hover:text-white transition-colors text-base sm:text-sm"
            ></i>
          </div>

          <div class="p-2 truncate">Designation</div>
          <div class="p-2 hidden sm:block truncate">Email</div>
          <div class="p-2 truncate">Contact Number</div>
          <div class="p-2 truncate">Gender</div>
          <div class="p-2 hidden sm:block">Actions</div>
        </div>
        <div class="h-[72vh] overflow-y-auto staff-table-body">
          <div
            id="loader"
            class="flex items-center justify-center h-[72vh] w-full"
          >
            <div
              class="w-10 h-10 border-4 border-t-4 border-green-500 border-t-transparent rounded-full animate-spin"
            ></div>
          </div>
        </div>
      </div>
    </div>

    <script
      type="module"
      src="../../controller/StaffFormController.js"
    ></script>
  </body>
</html>
